<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-usbprinter" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>UsbPrinter</name>

    <js-module name="UsbPrinter" src="www/UsbPrinter.js">
        <clobbers target="UsbPrinter" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="UsbPrinter">
                <param name="android-package" value="cordova.plugin.usbprinter.UsbPrinter" />
            </feature>
        </config-file>

        <config-file parent="/manifest" target="AndroidManifest.xml">
            <supports-screens android:anyDensity="true"/>
            <uses-feature android:name="android.hardware.usb.accessory"/>
            <uses-feature android:name="android.hardware.usb.host"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </cofing-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <uses-library android:name="com.android.future.usb.accessory"/>
            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
            android:resource="@xml/device_filter"/>
        </cofing-file>

        <config-file parent="/manifest/application/activity" target="AndroidManifest.xml">
            <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"/>
            <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
        </cofing-file>
        
        <source-file src="src/android/UsbPrinter.java" target-dir="src/cordova/plugin/usbprinter/UsbPrinter" />
    </platform>
    
</plugin>